{% load static %}
<section id="book-table">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h2>Book Your Table Now</h2>
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-2 col-sm-12">
                    <div class="left-image">
                        <img src="{% static "img/book_left_image.jpg" %}" alt="">
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="right-info">
                        <h4>Reservation</h4>
                        <form id="book_table" action="{% url 'home' %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                {% for input in form %}
                                <div class="col-md-6">
                                    <fieldset>
                                        {{ input }}
                                    </fieldset>
                                </div>
                                 {% endfor %}
                                <div class="col-md-6">
                                    <fieldset>
                                        <button type="submit" id="book_table" class="btn">Book Table</button>
                                    </fieldset>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>