{% load static %}
<section class="blog-page" >
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-md-8 col-md-offset-2">
                <div class="blog-item">
                    {% for foto in object.images.all %}
                    <img src="{{ foto.img.url }}" alt="breakfast">
                    {% endfor %}
                    <div class="date">{{ object.date_posting }}</div>
                    <div class="down-content">
                        <h4>{{ object.title }}</h4>
                        <span>{{ object.topic }} / {{ object.author }}</span>
                        <p>{{ object.text }}</p>
                        <div class="text-button">
                            <a href="#">Continue Reading</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-8 col-md-offset-2" id="pagination">
                <ul class="page-number">
                    {% for num_page in page_obj.paginator.page_range %}
                    <li>
                        <a class="active" href="?page={{num_page}}">{{num_page}}</a>
                    </li>
                    {% endfor %}
<!--                    <li>-->
<!--                        <a {% if page_obj.has_next %}href="?page={{page_obj.paginator.num_pages }}"> {% endif %}&gt;&gt;</a>-->
<!--                    </li>-->

                </ul>
            </div>
        </div>
    </div>
</section>