{% load static %}
<section class="breakfast-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="breakfast-menu-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-image">
                                <img src="{% static "img/breakfast_menu.jpg" %}" alt="Breakfast">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2>Breakfast Menu</h2>
                            <div id="owl-breakfast" class="owl-carousel owl-theme">
                                {% for object in object_list %}
                                <div class="item col-md-12">
                                    <div class="food-item">
                                        {% for foto in object.images.all %}
                                        <img src="{{ foto.img.url }}" alt="breakfast">
                                        {% endfor %}
                                        <div class="price">${{object.price}}</div>
                                        <div class="text-content">
                                            <h4>{{ object.title }}</h4>
                                            <p>{{ object.text }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>