{% load static %}
<section class="dinner-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="dinner-menu-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="left-image">
                                <img src="{% static "img/dinner_menu.jpg" %}" alt="">
                            </div>
                        </div>
                        <div class="col-md-7">
                            <h2>Dinner Menu</h2>
                            <div id="owl-dinner" class="owl-carousel owl-theme">
                            {% for obj in dinner %}
                                <div class="item col-md-12">
                                    <div class="food-item">
                                       {% for foto in obj.images.all %}
                                            <img src="{{ foto.img.url }}" alt="Dinner">
                                       {% endfor %}
                                        <div class="price">${{ obj.price}}</div>
                                        <div class="text-content">
                                            <h4>{{ obj.title }}</h4>
                                            <p>{{ obj.text }}</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>