{% load static %}
<section class="lunch-menu">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="lunch-menu-content">
                    <div class="row">
                        <div class="col-md-7">
                            <h2>Lunch Menu</h2>
                            <div id="owl-lunch" class="owl-carousel owl-theme">
                                {% for obj in lunch %}
                                    <div class="item col-md-12">
                                        <div class="food-item">
                                            {% for foto in obj.images.all %}
                                            <img src="{{ foto.img.url }}" alt="lunch">
                                            {% endfor %}
                                            <div class="price">${{obj.price}}</div>
                                            <div class="text-content">
                                                <h4>{{ obj.title }}</h4>
                                                <p>{{ obj.text }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="left-image">
                                <img src="{% static "img/lunch_menu.jpg" %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>