<section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block banner_text %}
                        <h1>Our Blog</h1>
                        <p>You can feel free to use our template for any purpose of your websites. Thank you. Template re-distribution is <strong>not allowed</strong> in any download site.</p>
                    {% endblock banner_text %}
                </div>
            </div>
        </div>
    </section>